<% @entreprises.each do |e|%>
    <div class="bg-teal-700 rounded-lg shadow-lg mt-8 w-2/5 mx-auto">
        <div class="flex flex-row justify-center">
            <p class="font-black text-2xl text-center"> <%= e.name %></p>
        </div>
    </div>
<% end %>
