<p id="notice"><%= notice %></p>

<h1></h1>




    <% @portfolios.each do |portfolio| %>
      
        <h1><%= link_to 'Edit Portfolio', edit_portfolio_path(portfolio) %></td>
  
    <% end %>

<br>

