<div class="text-base font-medium text-teal-600 py-2 px-4 rounded">
    <h1 class='font-black text-6xl text-center'>Entreprises</h1>
</div>
<!--
    Using ransack gem for the filter. 

    Filtre:
        * Code postal
        * Max distance
    Experience
        Junior, Medior, Senior
    School level
        Bachelor, Master
    Type de contrat
        Partiel time, half time, full time
    Categorie
        Javascript, Python, Ruby, C#, Java, ...
-->

<% @jobs.each do |job|%>
    <div class="bg-teal-700 rounded-lg shadow-lg mt-8 w-2/5 mx-auto">
        <p class="font-black text-2xl text-center"> <%= job.entreprise.name %></p>
        <div  class="flex justify-around flex-wrap font-black text-1xl text-center"> 
            <a class="bg-teal-400 py-2 px-4 border border-transparent 
            rounded-md text-base font-medium text-white hover:bg-teal-300" 
            href="<%= job_path(job.id)%>">
             <%= job.name %>
            </a>
        </div>
    </div>
<% end %>