<div class="text-base font-medium text-lime-600 py-2 px-4 rounded">
    <h1 class='font-black text-6xl text-center'>Entreprises</h1>
</div>

<!--
    Filtre:
        * Code postal
        * Max distance
    Experience
        Junior, Medior, Senior
    School level
        Bachelor, Master
    Type de contrat
        Partiel time, half time, full time
    Categorie
        Javascript, Python, Ruby, C#, Java, ...
-->


<%= @jobs.each do |job| %>
    <p><%= job.name %></p>
<% end %>