<div class="flex flex-col items-center">

<h3>Search</h3>  

<% if (@results.empty?) %>
    <h5>No results found.</h5>
<% else %>
    <% @results.each do |job| %>  
        <%= job.name %><br>  
    <% end %>
<% end %>

</div>


  

