<div class='bg-indigo-400 p-10 rounded-lg shadow-lg max-w-lg mx-auto text-white mt-8'>
    <h1 class='font-black text-6xl text-center'>ICT query with Tailwind 2.0</h1>
    <p class='text-lg mt-8'>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

    <p>Mikail test</p>

	<p class='text-lg mt-6'>"Martin was here"</p>
    <p>alex p in master</p>
</div>

