    <div class='text-right mt-2'>
    <button class="bg-indigo-400 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button">
        <%= link_to 'Login', new_user_session_path %>
    </button>
	</div>
	<div class="p-10 w-full shadow-lg flex-col mx-auto text-white bg-lime-700 lg:py-24 mt-6 flex items-center justify-start ">
        <h2 class="lg:text-5xl text-4xl font-semibold text-white leading-none ml-8 mb-6">Qiwie Jobseeker.</h2>
        <div class="flex items-center justify-start  w-full">
          <div class="w-full flex content-center justify-center mb-4 lg:mb-0">
            <p class="text-white mb-2 lg:text-2xl tracking-wide">Find your ideal job, make a resume and connect with the right people.</p>            
          </div>          
        </div>
      </div>
    <div class="p-2  w-full flex content-center justify-center flex-col mx-auto text-green lg:py-12">
      <div class="p-8 w-100 mx-auto ">
        <h2 class="lg:text-3xl text-2xl font-semibold text-black leading-none mb-4">Make your resume here</h2>
       
            <a href="#" class="transition bg-lime-700 text-white px-10 py-3 rounded font-bold hover:bg-lime-600 block w-full text-center ">GET STARTED</a>
        
    </div>
    </div>
       <div class="p-10 w-full flex-col shadow-lg mx-auto text-white bg-lime-700 lg:py-16  ">
        <h2 class="lg:text-3xl text-4xl pb-10 flex content-center justify-center font-semibold text-white leading-none mb-4">Search for jobs</h2>
        <div class="w-full">
          <div class="flex items-center flex-row divide-x divide-lime-700  justify-center w-full">
            <input type="text" class="px-4 py-3 w-96 md:border-gray-200 md:focus:border-white text-black rounded-l-xl" placeholder="Job/Function">
            <input type="text" class="px-4 py-3 w-80 md:border-gray-200 md:focus:border-white text-black" placeholder="Postal code/Place">
            <a href="#" class="transition bg-white text-black px-5 py-3 rounded-r-xl font-bold hover:bg-lime-600 hover:text-white block text-center border-left-grey">➥
            </a>
          </div>   
		  <div class="flex items-center  mt-4 justify-center w-full">
			<form action="/action_page.php" class="flex flex-row items-center">
				<input type="checkbox" id="full" name="full" value="full">
				<label for="full" class="pr-2"> Full time</label><br>
				<input type="checkbox" id="part" name="part" value="part">
				<label for="part" class="pr-2"> Part time</label><br>
				<input type="checkbox" id="home" name="home" value="home">
				<label for="home" > Work from home</label><br><br>
			  </form>
		  </div>       
        </div>
      </div>

      <div class="w-full  mx-auto text-lime lg:py-12">
      <div class="w-full  flex content-center justify-center flex-col">
        <h2 class="lg:text-3xl mb-8 pb-5 text-2xl self-center flex font-semibold text-black leading-none mb-4">Our Clients</h2>
        <div class="carousel relative shadow-xl w-full  bg-white">
	<div class="carousel-inner h-60 relative overflow-hidden w-full">
	  <!--Slide 1-->
		<input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
		<div class="carousel-item absolute opacity-0" style="height:50vh;">			
			<img src="https://i.ibb.co/1vG2RLp/Qwie-Clients2.jpg" alt="">
		</div>
		<label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
		
		<!--Slide 2-->
		<input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" style="height:50vh;">
			<img src="https://i.ibb.co/4sgxgQ7/QC2.jpg" alt ="">
		</div>
		<label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label> 
		
		<!--Slide 3-->
		<input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" style="height:50vh;">
			<img src="https://i.ibb.co/X7Dvrdh/QC3.jpg" alt ="">
		</div>
		<label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-transparent hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

		<!-- Add additional indicators for each slide-->
		<ol class="carousel-indicators">
			<li class="inline-block mr-3">
				<label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-grey hover:text-blue-700">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-grey hover:text-blue-700">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-grey hover:text-blue-700">•</label>
			</li>			
		</ol>
		
	</div>
</div>
    </div>

	<div class="container w-full flex items-center m-10 justify-center">
		<div class="grid grid-flow-col p-3 divide-x divide-green-500 auto-cols-max">
			<div class="p-3">
				<h3>Succesvol werk met</h3>
				<h3 class="text-center text-green-500">1.056</h3>
				<h4>Tevreden klanten</h4>
			</div>
 		    <div class="p-3">
				<h3>Gelanceerde campagnes</h3>
				<h3 class="text-center text-green-500">5.391</h3>
				<h4>Gelanceerde campagnes</h4>
			 </div>
 		    <div class="p-3">
				<h3>Succesvolle campagnes</h3>
				<h3 class="text-center text-green-500">4.245</h3>
				<h4>Ingevulde vacatures</h4>
			 </div>
 			<div class="p-3">
				<h3>Kandidaten per campagne</h3>
				<h3 class="text-center text-green-500">25</h3>
				<h4>Sollicitaties gemiddeld</h4>
			 </div>
		</div>
	</div>





<!-- <script>
	var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

</script> -->

