<div class='bg-indigo-400 p-10 rounded-lg shadow-lg max-w-lg mx-auto text-white mt-8'>
    <h1 class='font-black text-6xl text-center'>ICT query with Tailwind 2.0</h1>
    <p class='text-lg mt-8'>"Martin Layout"</p>
</div>
