<%= form_for @user, url: wizard_path do |f| %>
    <div class="field">
    <%= f.label :username%><br/>
    <%= f.text_field :username %>
    </div>
    <div class="actions">
    <%= f.submit "Continue" %>
    <% end %>
