

<div class="bg-gray-50 h-screen w-screen">

        <div class=" bg-gray-50 w-4/5  mt-10 mx-auto text-center space-x-6 p-10">
                <button class="bg-green-500 m-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><%= link_to 'Profile', 'profile' %></button>
                <button class="bg-blue-500 m-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><%= link_to 'Upload CV', 'profile/uploadcv' %></button>
                <button class="bg-blue-500 m-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><%= link_to 'Sollicitations', 'profile/sollicitations' %></button>
                <button class="bg-blue-500 m-2 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"><%= link_to 'Account Settings', 'profile/accountsettings' %></button>
        </div>
       
        <div>

            <div class="bg-white relative shadow-xl w-5/6 mt-20 md:w-4/6  lg:w-3/6 xl:w-2/6 mx-auto">
                <div class="flex justify-center">
                        <img src="https://pantazisoft.com/img/avatar-2.jpeg" alt="" class="rounded-full mx-auto absolute -top-20 w-32 h-32 shadow-2xl border-4 border-white">
                </div>
                
                <div class="mt-16">
                    <h1 class="font-bold text-center text-3xl text-gray-900">John Johnson</h1>
                    <p class="text-center text-sm text-gray-400 font-medium">Full Stack Developer at Qiwie</p>
                    <p>
                        <span>
                            
                        </span>
                    </p>
                    <div class="my-5">
                        <a href="#" class="text-indigo-200 block text-center font-medium leading-6 px-6 py-3 bg-indigo-600">Connect with <span class="font-bold">@johnjohnson</span></a>
                    </div>
                    <div class="flex justify-evenly my-5">
                        <a href="" class="bg font-bold text-sm text-blue-800 w-full text-center py-3 hover:bg-blue-800 hover:text-white hover:shadow-lg">Facebook</a>
                        <a href="" class="bg font-bold text-sm text-blue-400 w-full text-center py-3 hover:bg-blue-400 hover:text-white hover:shadow-lg">Twitter</a>
                        <a href="" class="bg font-bold text-sm text-yellow-600 w-full text-center py-3 hover:bg-yellow-600 hover:text-white hover:shadow-lg">Instagram</a>
                        <a href="" class="bg font-bold text-sm text-gray-600 w-full text-center py-3 hover:bg-gray-600 hover:text-white hover:shadow-lg">Email</a>
                    </div>

                
                    </div>
                </div>
            </div>

        </div>
    </div>



        </div>

</div>