<div class="w-full bg-warmGray-100 pt-8 pb-4">
    <div class="flex flex-row justify-between">
        <div class="flex flex-col ml-20 items-center">
            <img src="https://www.qiwie.com/assets/images/logo/Logo_Qiwie_Small.png" alt="QLogo" style="height:70px; width:220px;" >
            <a href="mailto:info@qiwie.be" class="text-lime-700 underline text-center m-1">info@qiwie.be</a>
            <h4 class="text-center font-bold m-1">03 613 09 44</h4>
        </div>   
        <!-- <div class="flex mr-16 flex-col">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
        </div>   -->
        <div class="flex mr-24 text-center flex-col">
                    <h4 class="font-bold">Kantoren</h4>
                    <h5>Antwerpen 2060</h5>
                    <h5>Franklin Rooseveltplaats 12</h5>
                    <h5>Brussel 1000</h5>
                    <h5>Congresstraat 35</h5>
        </div>
        
    </div>     
    
    <div class="mx-12 flex flex-row justify-between content-center">
        <div class="flex items-center"> 
            <h5 class="font-light">© 2011 Qiwie - Algemene voorwaarden - Privacy</h5>
        </div>
        <div class="mr-8"> 
            <ul class="flex flex-row justify-center">
                <li class="ml-2 transition duration-500 ease-in-out transform hover:-translate-y-1 border border-transparent rounded-full px-2 hover:shadow-lg hover:scale-125">
                    <a href="https://twitter.com/qiwie_tweet" target="_blank" aria-label="Twitter">
                        <span style="font-size: 2em; ">
                            <i class="fab fa-twitter link-icon"></i>
                        </span>                        
                    </a>
                </li>
                <li class="ml-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-125 border border-transparent rounded-full px-4 hover:shadow-lg">
                    <a href="https://www.facebook.com/pages/category/Advertising-Agency/Qiwie-552305261970436/" target="_blank" aria-label="Facebook" class="social-link hint--bounce hint--top hint--primary">
                        <span style="font-size: 2em; ">
                            <i class="fab fa-facebook-f link-icon"></i>
                        </span>
                    </a>
                </li>
                <li class="ml-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-125 border border-transparent rounded-full px-3 hover:shadow-lg">
                    <a href="https://www.instagram.com/qiwieadvisor/" target="_blank" aria-label="Instagram" class="social-link hint--bounce hint--top hint--primary">
                        <span style="font-size: 2em;">
                            <i class="fab fa-instagram link-icon"></i>
                        </span>
                    </a>
                </li>
                <li class="ml-2 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-125 border border-transparent rounded-full px-3 hover:shadow-lg">
                    <a href="https://linkedin.com/company/qiwie" target="_blank" aria-label="Linkedin" class="social-link hint--bounce hint--top hint--primary">
                        <span style="font-size: 2em;">
                            <i class="fab fa-linkedin link-icon"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>    
    </div>

</div>